.App{
    border: 1px solid black;
    max-width: max-content;
    margin: auto;
}

ul{
    list-style-type: none;
    border: 1px solid purple
}

li{
    margin: auto;
}

.todo-item{
    border: 1px solid blue
}